<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>71190689427-dg3ubvaro47h984ug3cs6ik169tbrqt9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.71190689427-dg3ubvaro47h984ug3cs6ik169tbrqt9</string>
	<key>API_KEY</key>
	<string>AIzaSyAGsOy8CNrASH_KK-PJkX8jAOGVYmcFztc</string>
	<key>GCM_SENDER_ID</key>
	<string>71190689427</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.testapp</string>
	<key>PROJECT_ID</key>
	<string>fir-project-1d228</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-project-1d228.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:71190689427:ios:3dc91331745d19258d7f66</string>
	<key>DATABASE_URL</key>
	<string>https://fir-project-1d228-default-rtdb.firebaseio.com</string>
</dict>
</plist>
